<form class="form-horizontal">
    <% _.each(options, function(value, key) { %>
        <div class="control-group">
            <label class="control-label" for="<%= key %>"><%= value %></label>
            <div class="controls">
                <input type="text" id="<%= key %>" name="<%= key %>" placeholder="<%= value %>"></div>
        </div>
    <% }); %>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form>