/* Will be compiled down to a single stylesheet with your sass files */

.table {
  td {
    width: 100px;
    height: 100px;
    .events {
      margin: 0;
      .label-info:hover {
        background-color: #61a7ca;
      }
      li {
        display: block;
        position: relative;
      }
    }
  }
}
